.title {
    font-weight: bold;
}

/* .spritesheet {
    height: auto;
    width: auto;
    clip-path: rect(0px, 20px, 20px, 0px);
} */

.container {
    width: 62px;
    height: 63px;
    /* border: 1px solid black; */
    left: 9px;
    background: url(../assets/spritesheet.png);
}

:root {
    --y-pos: 0;
}

/*/////////// WALK ///////////*/

.walk{
    animation: walk 1s steps(9) infinite;
}

.walkBack{
    --y-pos: -512px;
}
.walkLeft{
    --y-pos: -576px;
}
.walkFront{
    --y-pos: -640px;
}
.walkRight{
    --y-pos: -704px;
}

@keyframes walk {
    0%{
        background-position: 0 var(--y-pos);
    }
    100% {
        background-position: -576px var(--y-pos);
    }
}

/*/////////// SPELLCAST ///////////*/

.spellcast{
    animation: spellcast 1s steps(7) infinite;
}

.spellcastBack{
    --y-pos: 0px;
}
.spellcastLeft{
    --y-pos: -64px;
}
.spellcastFront{
    --y-pos: -128px;
}
.spellcastRight{
    --y-pos: -192px;
}

@keyframes spellcast {
    0%{
        background-position: 0 var(--y-pos);
    }
    100% {
        background-position: -448px var(--y-pos);
    }
}